<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Röstning</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>partial/main-nav}}
    <h2>Röstning</h2>

    <!-- beginning of mustache-section -->
    <div class="voting-container">
        {{#voting}}
            <!-- default method är GET -->
            <form method="POST" action="vote">
                <input type="hidden" value="{{id}}" name="numberId"/>
                <figure>
                    <img src="image/{{imgRef}}" height="300" width="300" />
                    <figcaption>{{name}}</figcaption>
                </figure>
                <button type="submit">Rösta</button>
            </form>
        {{/voting}}
    </div>
    <!-- end of mustache-section -->
</body>
</html>